html, body {
	height: 100%;
	margin: 0;
}

body {
	background: url("../images/background.png");
	color: white;
	font-family: 'Martel Sans', sans-serif;
}

.navbar {
	background-color: #004053;
	margin-bottom: 0px;
}

#logo {
	margin-top: 5px;
}

.logHead{
	text-decoration: underline;
	margin-bottom: 4%;

}

#userLogin{
	margin-bottom: 1%;
}

#userSignUp{
	margin-bottom: 2%;
}

.logButton{
	margin-top: 2%;
	margin-bottom: 3%;
}

.divBox{
	border: dashed 3px white;
	margin-top: 2%;
	margin-bottom: 2%;
}

.firstEntry{
	margin-right: 1%;
}

.showLink {
	color: white;
	width: 150px;
}

.showLink:hover {
	text-decoration: underline;
	text-decoration-color: white;
}

.show-div {
	margin-right: 10px;
	margin-left: 10px;
}

#show-info, #show-plot, #show-times {
	font-size: 20px;
	text-shadow: 1px 1px black;
}

a {
	color: #9d9d9d;
}

a:hover {
	color: white;
}

.login {
	background-color: #004053;
	border-color: #004053;
	color: #9d9d9d;
}

.login:hover {
	color: white;
}

#loaded li{
	display: inline;
}

#loading li {
	display: inline;
}

#user-signed-in li {
	display: inline;
}

#name li {
	display: inline;
}

#list {
	display: inline-block;
}

.pull-left {
	display: inline-block;
}

.delete-button {
	display: inline-block;
}